@font-face {
    font-family: 'quicksand-regular';
    src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksand-bold';
    src: url('../fonts/quicksand-bold-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'indieflower';
    src: url('../fonts/indieflower-regular-webfont.woff2') format('woff2'),
         url('../fonts/indieflower-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Color variables */
:root {
    --primary: #68a55f;
    --primary-alt: #3e5d3e;
    --secondary: #6c757d;
    --success: #28a745;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --light-alt: #f3f6f4;
    --dark: #101011;
}


/* To make forms' appearance consistent with rest of content across browsers */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Reset some styles */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}


/* Universal styles */
html {
  font-size: 16px;
  font-family: 'quicksand-regular', sans-serif;
  color: #333;
}

h1 {
    font-family: 'quicksand-bold', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-family: 'quicksand-bold', sans-serif;
}


/* Page styles */
body {
    background-color: var(--dark);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.body-content {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 0;
}

.body-content--left {
    max-height: 100vh;
    overflow: hidden;
    width: 40%;
    display: block;
}

#dog-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo-band {
    width: 100%;
    position: relative;
    bottom: 50%;
    background: rgba(28, 29, 29, 0.576);
    color: var(--light);
}

.body-content--right {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 0;
}

.logo-img {
    height: 200px;
}

.body-content--right p {
    margin: 1em 0 2em 0;
    width: 70%;
    text-align: center;
}


form {
    align-self: flex-start;
    width: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1em 1em 0 1em;
    font-size: 0.8em;
    background-color: var(--light-alt);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}

legend {
    font-family: 'quicksand-bold', sans-serif;
    font-size: 1.3em;
    color: var(--dark);
    margin: 0.5em;
    padding: 0;
    position: relative;
    left: 28px;
}
fieldset {
    border: none;
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.field-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5em 0;
}

.field-row>div {
    width: 40%;
    margin: 0 0.5em;
}

label, button {
    font-weight: bold;
}

input {
    width: 100%;
    border: 1px solid var(--secondary);
    border-radius: 5px;
}

.unfilled:invalid{
    border: 1px solid var(--secondary);
}

.unfilled:invalid + span::before {
    content: " ";
}


input:focus {
    appearance: none;
    border: 2px solid var(--primary);
    outline: none;
}

input:invalid {
    border: 2px solid var(--danger);
}

input:focus:invalid {
    border: 2px solid var(--primary);
}

input + span {
    position: relative;
}

input:focus:invalid + span::before,
input:focus:valid + span::before {
    content: " ";
}

input:invalid + span::before {
    font-size: 1.3em;
    position: absolute;
    right: -2px;
    bottom: 15px;
    content: "✖";
    font-weight: bold;
    color: red;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    height: 0px;
}

input:valid + span::before {
    font-size: 1.3em;
    position: absolute;
    right: 2px;
    bottom: 15px;
    content: "✓";
    font-weight: bold;
    color: var(--success);
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    height: 0px;
}


.btn-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
    padding: 1em 1em 0 1em;
}

button {
    background-color: var(--primary);
    color: var(--light);
    border: none;
    border-radius: 5px;
    margin-top: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: 250ms;
}

button:hover {
    background-color: var(--primary-alt);
    transform: scale(1.05);
    box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.196);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.342);
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: 250ms;
}

a:hover {
    color: var(--dark);
}


@media screen and (max-width: 1028px) {
    body {
        font-size: 14px;
    }
    .body-content--left {
        width: 50%;
    }
    .body-content--right {
        width: 50%;
    }
}


@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }
    .body-content {
        flex-direction: column;
        align-items: center;
    }
    .body-content--left {
        width: 100%;
        height: 30vh;
    }
    #dog-video {
        object-position: 50% 30%;
    }
    .body-content--right {
        height: 70vh;
        width: 100%;
    }
    .logo-img {
        height: 100px;
    }
    .body-content--right p {
        width: 90%;
    }

    form {
        width: 100%;
        border-radius: 0;
    }

    .field-row {
        flex-direction: column;
    }

    .field-row>div {
        width: 100%;
    }

    .btn-box {
        width: 100%;
    }
}